<div class = "column">
	<div class="col-md-6">
		<label for="fromDate">From</label>
		<select id="fromDate">
			<option value="2012" selected>2012</option>
			<option value="2013">2013</option>
			<option value="2014">2014</option>
		</select>
	</div>
	<div class="col-md-6">
		<label for="toDate">To</label>
		<select id="toDate">
			<option value="2013">2013</option>
			<option value="2014">2014</option>
			<option value="2015" selected>2015</option>
		</select>
	</div>
</div>

                                    