                <hr />
                <h2 id="details"  tabindex="-1">Detail</h2>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="well well-sm">
                           
                           <dl class="dl-horizontal">
                                <dt>Recall Number</dt>
                                <dd><%- data[0].attributes.recallNumber %></dd>

                                <dt>product description</dt>
                                <dd><%- data[0].attributes.productDescription %><br></dd>

                                <dt>status</dt>
                                <dd><%- data[0].attributes.status %></dd>

                                <dt>classification</dt>
                                <dd><%- data[0].attributes.classification %></dd>
                                

                                <dt>Reason for recall</dt>
                                <dd><%- data[0].attributes.reasonForRecall %></dd>
                                

                                <dt>Distribution pattern</dt>
                                <dd><%- data[0].attributes.distributionPattern %></dd>



                                <dt>Product quantity</dt>
                                <dd><%- data[0].attributes.productQuantity %></dd>

                                <dt>Recall initiation date</dt>
                                <dd><%- data[0].attributes.recallInitiationDate %></dd>
                                
                                <dt>voluntary mandated</dt>
                                <dd><%- data[0].attributes.voluntaryMandated %></dd>

                                <dt>Report Date</dt>
                                <dd><%- data[0].attributes.reportDate %></dd>

                                <dt>Initial Firm Notification</dt>
                                <dd><%- data[0].attributes.initialFirmNotification %></dd>
                                
                                <dt>Code Info</dt>
                                <dd><%- data[0].attributes.codeInfo %></dd>
                            </dl>

                        </div>
                        <div><h4>Description:</h4><p>
                                The map visualization depicted below illustrates food recalls by state from a specific distributor. Click on details to view color-coded displays of food recalls by their classification level. </p>
                        </div>

                        <div class="svg-container">
                            <svg version="1.1" viewBox="0 0 1200 600" preserveAspectRatio="xMinYMin meet" class="svg-content-responsive" id="statesvg"></svg>

                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-square icon-class-i"></i>Class I
                                </div> 
                                <div class="col-xs-2">
                                    <i class="fa fa-square icon-class-ii"></i>Class II
                                </div>
                                <div class="col-xs-2">
                                    <i class="fa fa-square icon-class-iii"></i>Class III</div>
                                </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h3>What to do next?</h3>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        FDA Partnerships:
                                      </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                    <ul>
                                        <li><a href="http://www.healthline.com/health/fda" target="_blank">Healthline.com</a></li>      
                                        <li><a href="http://www.drugs.com/" target="_blank">Drugs.com  </a></li>     
                                        <li><a href="http://www.webmd.com/news/default.htm" target="_blank">WebMD.com   </a></li>    
                                        <li><a href="http://www.ismp.org/" target="_blank">Institute for Safe Medication Practices (ISMP)  </a></li>
                                        <li><a href="http://www.fda.gov/ForConsumers/ucm126390.htm" target="_blank">How to Partner With FDA </a></li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Refund related actions
                                        </a>
                                     </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Coming Soon
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Manufacture
                                      </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                       <dl class="dl-horizontal">
                                            <dt>Recalling Firm</dt>
                                            <dd><%- data[0].attributes.recallingFirm %></dd>

                                            <dt>City</dt>
                                            <dd><%- data[0].attributes.city %><br></dd>

                                            <dt>State</dt>
                                            <dd><%- data[0].attributes.state %></dd>

                                            <dt>Country</dt>
                                            <dd><%- data[0].attributes.country %></dd>
                                        </dl>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>-->
                </div>