                <hr />
                <h2>Food Pathogens <small>USDA food pyramid</small></h2>
                <div class="row">
                    <div class="col-lg-12"><h4><a href="http://www.homefoodsafety.org/food-poisoning/foodborne-pathogens#salmonella" target="blank">Salmonella</a></h4>
                    <p>Salmonella is the name of a group of bacteria that causes the infection salmonellosis. Salmonella is one of the most common bacterial causes of diarrhea in the United States and the most common cause of foodborne-related hospitalizations and deaths. Salmonella is more severe in pregnant women, older adults, younger children and those with a weakened immune system.  Because Salmonella bacteria can live in the intestinal tract of humans and other animals, it can be spread easily unless proper hygiene and appropriate cooking methods are used.</p></div>
                </div>