  <hr />
  <h2 id="foodPathogens" tabindex="-1">Food Pathogens <small>USDA food pyramid</small></h2>
  <div class="row">
    <div class="col-lg-8">
      <div class="row"> 
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body" >
            Add germ info here 
            <div id="salmonella"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body" >
            Add germ info here 
            <div id="norovirus"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body" >
            Add germ info here 
            <div id="listeria"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body" >
            Add germ info here 
            <div id="ecoli"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <a class="twitter-timeline" href="https://twitter.com/FDAfood" data-widget-id="613006443734806529">Tweets by @FDAfood</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>