<div class="navbar navbar-inverse navbar-fixed-top pal">
    <div class="container">
        <div class="logo">
            <a href="#home" class="navbar-brand">
             Food Recall Gateway
            </a>
        </div>
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="javascript:void(0)" id="anchor_home" data-id="home">Home</a></li>
            <li><a href="javascript:void(0)" id="anchor_results" data-id="results">Results</a></li>
            <li><a href="javascript:void(0)" id="anchor_details" data-id="details">Details</a></li>
            <li><a href="javascript:void(0)" id="anchor_foodInfo" data-id="foodInfo">Food Pyramid</a></li>
            <li><a href="javascript:void(0)" id="anchor_foodPathogens" data-id="foodPathogens">Food Pathogens</a></li>
        </ul>
    </div>
</div>
