<div class="navbar navbar-inverse navbar-fixed-top pal">
    <div class="container">
        <div id="home" class="logo">
            <a href="#home" class="navbar-brand">
             Food Recall Gateway
            </a>
        </div>
        <ul class="nav nav-pills pull-right">
            <li class="active"><a data-target="home" href="javascript:void(0);">Home</a></li>
            <li><a data-target="results" href="javascript:void(0);">Results</a></li>
            <li><a data-target="details" href="javascript:void(0);">Details</a></li>
            <li><a data-target="foodInfo" href="javascript:void(0);">Food Pyramid</a></li>
            <li><a data-target="foodPathogens" href="javascript:void(0);">Food Pathogens</a></li>
        </ul>
    </div>
</div>
