<p>Welcome to our ALPHA site.  It is presented as a public service meant to complement the abundance of helpful food safety information available to the public.  This is NOT a website of the United States government.</p>

<h1 id="home" tabindex="-1"><%=content.headerText %><span class="sr-only">Food Recall Gateway</span></h1>

<p>
    Welcome to the Food Recall Gateway site! This site serves as a go-to resource for consumers to know when and where food recalls are occurring across the United States. The data provided on this site is intended to complement the federal information site, <a href="http://www.foodsafety.gov/" target="_blank">FoodSafety.gov</a>, by presenting dynamic visualizations of current food recall trends and user-friendly tools to inform consumers’ daily dietary habits. 
</p>
<p>
  <%=content.seachDescription %>
</p>
<!-- search section start-->
<div id="searchContainer" class="row mtl mbl">
    <div class="col-md-9">
      <label for="select-fooditem" class="">Quick Search</label>
      <p>Multiple terms (up to three keywords related to food type) can be entered into the single search box.</p>
    </div>
    <div class="col-md-6">        
        <select id="select-fooditem" placeholder="Select a food item..." name="searchTerms" multiple>
            <option value="">Select a food item...</option>
            <option value="cheese">Cheese</option>
            <option value="meat">Meat</option>
            <option value="apple">Apple</option>
            <option value="orange">Orange</option>
            <option value="eggs">eggs</option>
            <option value="chicken">chicken</option>
            <option value="zucchini">zucchini</option>
            <option value="dressing">Dressing</option>
        </select>
    </div>
    <div class="col-md-3 col-xs-6">
        <button id="btnSearch" class="btn btn-primary btn-block"><i class="fa fa-search"></i> Search</button>
    </div>
    <div class="col-md-3 col-xs-6">
        <button type="button" class="btn btn-default active" data-toggle="collapse" data-target="#advSearchContainer">Advanced Search</button>
    </div>

    <div class="col-xs-12 collapse" id="advSearchContainer">
        <div class=" top_arrow_box mtl">
            <div class="row mbs">
              <div class="col-md-12">
                <p>The Advanced Search function allows users to generate a more robust display of recent food recalls across the United States. You can select a year range, multiple keywords, search by multiple states, and filter results by food recall status.  Note: (Note: the data reported for 2015 is as of May 30, 2015).</p>
              </div>
            </div>
            <form role="form" class="row">
              <div class="col-md-4 col-xs-12" id="dateRangeSection">
          
              </div>
              <div class="col-md-5 col-xs-12" id="stateSection">
                
              </div>
              <div class="col-md-3 col-xs-12" id="recallStatusSection">

              </div>            
            </form>
        </div>
    </div>
</div>
<!-- search section end -->
<!-- start results section -->
<div id="resultsSection">
</div>
<!-- End Results Section-->
<!-- start details Section -->
<div id="detailsSection"></div>
<!-- end details section -->
<!-- start food pyramid section-->
<div id="foodInfoSection">
  <hr />
  <h2 id="foodInfo"  tabindex="-1">My Plate</h2>
  <div class="row">
      <div class="col-lg-4"><img class="img-responsive" style="padding: 10%;" src="http://www.choosemyplate.gov/images/MyPlateImages/JPG/myplate_white.jpg"></div>
      <div class="col-lg-4"><div class="panel panel-fruit"><div class="panel-heading">Fruit</div><div class="panel-body"><%=content.fruitText %><div id="fruit"></div></div></div></div>
      <!--<div class="col-lg-3"><div class="panel panel-oil"><div class="panel-heading">oil</div><div class="panel-body"><%=content.oilText %><div id="oil"></div></div></div></div>-->
      <div class="col-lg-4"><div class="panel panel-dairy"><div class="panel-heading">Dairy</div><div class="panel-body"><%=content.dairyText %><div id="dairy"></div></div></div></div>
      <div class="col-lg-4"><div class="panel panel-grain"><div class="panel-heading">Grain</div><div class="panel-body"><%=content.grainText %><div id="grain"></div></div></div></div>
      <div class="col-lg-4"><div class="panel panel-vegetable"><div class="panel-heading">Vegetable</div><div class="panel-body"><%=content.vegetableText %><div id="vegetable"></div></div></div></div>      
      <div class="col-lg-4"><div class="panel panel-meat"><div class="panel-heading">Protein</div><div class="panel-body"><%=content.meatText %><div id="meat"></div></div></div></div>
  </div>  
</div>
<!-- end food pyramid section -->
<!-- start food pathogens section -->
<div id="foodPathogensSection"><div>
  <hr />
  <h2 id="foodPathogens" tabindex="-1">Food Pathogens</h2>
  <div class="row">
    <div class="col-lg-8">
   <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3><a href="http://www.homefoodsafety.org/food-poisoning/foodborne-pathogens#salmonella" target="blank">Salmonella</a></h3>
                    <p>
                      <%=content.salmonellaText %>
                    </p>
                    <div id="salmonella"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3><a href="http://www.homefoodsafety.org/food-poisoning/foodborne-pathogens#Norovirus" target="blank">Norovirus</a></h3>
                    <p>
                        <%=content.norovirusText %>
                    </p>
                    <div id="norovirus"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3><a href="http://www.homefoodsafety.org/food-poisoning/foodborne-pathogens#Listeria" target="blank">Listeria</a></h3>
                    <p>
                        <%=content.listeriaText %>
                    </p>
                    <div id="listeria"></div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3><a href="http://www.homefoodsafety.org/food-poisoning/foodborne-pathogens#E. coli" target="blank">E. coli</a></h3>
                    <p>
                         <%=content.ecoliText %>
                    </p>
                    <div id="ecoli"></div>                  

                </div>
            </div>
        </div>    
    </div>
</div>

    <div class="col-lg-4">
      <a class="twitter-timeline" href="https://twitter.com/FDAfood" data-widget-id="613006443734806529">Tweets by @FDAfood</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
<!-- end food pathogen section -->
