<h1><%=content.headerText %></h1>
<p>
    <%=content.sampleText %>
</p>
<!-- search section start-->
<div id="searchContainer" class="row mtl mbl">
    <div class="col-md-6">
        <label for="foodSearch" class="sr-only">Type text to search</label>
        <select id="select-fooditem" placeholder="Select a food item..." name="searchTerms" multiple>
            <option value="">Select a food item...</option>
            <option value="cheese">Cheese</option>
            <option value="meat">Meat</option>
            <option value="apple">Apple</option>
            <option value="orange">Orange</option>
            <option value="eggs">eggs</option>
            <option value="chicken">chicken</option>
            <option value="zucchini">zucchini</option>
            <option value="dressing">Dressing</option>
        </select>
    </div>
    <div class="col-md-3 col-xs-6">
        <button id="btnSearch" class="btn btn-primary btn-block"><i class="fa fa-search"></i> Search</button>
    </div>
    <div class="col-md-3 col-xs-6">
        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#advSearchContainer">Advanced Search</button>
    </div>

    <div class="col-xs-12 collapse" id="advSearchContainer">
        <div class=" top_arrow_box mtl">
            <form role="form" class="row">
              <div class="col-md-4 col-xs-12" id="dateRangeSection">
          
              </div>
              <div class="col-md-5 col-xs-12" id="stateSection">
                
              </div>
              <div class="col-md-3 col-xs-12" id="recallStatusSection">

              </div>            
            </form>
        </div>
    </div>
</div>
<!-- search section end -->
<!-- start results section -->
<div id="results">
</div>
<!-- End Results Section-->
<!-- start details Section -->
<div id="details"></div>
<!-- end details section -->
<!-- start food pyramid section-->
<div id="foodInfo"></div>
<!-- end food pyramid section -->
<!-- start food pathogens section -->
<div id="foodPathogens"><div>
  <hr />
  <h2>Food Pathogens <small>USDA food pyramid</small></h2>
  <div class="row">
    <div class="col-lg-8">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><a href="http://www.homefoodsafety.org/food-poisoning/foodborne-pathogens#salmonella" target="blank">Salmonella</a></h4>
                    <p>Salmonella is the name of a group of bacteria that causes the infection salmonellosis. Salmonella is one of the most common bacterial causes of diarrhea in the United States and the most common cause of foodborne-related hospitalizations and deaths. Salmonella is more severe in pregnant women, older adults, younger children and those with a weakened immune system. Because Salmonella bacteria can live in the intestinal tract of humans and other animals, it can be spread easily unless proper hygiene and appropriate cooking methods are used.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><a href="http://www.homefoodsafety.org/food-poisoning/foodborne-pathogens#Clostridium" target="blank">Clostridium perfringens</a></h4>
                    <p>
                        Clostridium perfringens, also known as C. perfringens, is a bacteria that is very common in our environment. It can multiply in number very quickly under the ideal conditions.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">Campylobacter Campylobacter is also a common cause of diarrhea in the United States. Most cases of campylobacteriosis, the infection caused by Campylobacter bacteria, are associated with eating raw or undercooked poultry and meat or from cross-contamination of other foods by these items. Freezing reduces the number of Campylobacter bacteria on raw meat but will not kill it completely, so proper heating of foods is still important.</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">Staphylococcus aureus Staphylococcus aureus (staph) is a type of bacteria that’s commonly found on the skin, throats and nostrils of many healthy people and animals. Therefore, it usually doesn’t cause illness unless it is transmitted to food products where it can multiply and produce harmful toxins. Staphylococcal food poisoning can cause many of the same symptoms as other foodborne illnesses, such as nausea, stomach cramps, vomiting or diarrhea. The bacteria can also be found in unpasteurized dairy products, salty foods such as ham and other sliced meats, or in foods that require no cooking, such as puddings, prepared salads or sandwiches. Staphylococcal toxins are heat resistant, which means they cannot be destroyed by cooking.</div>
            </div>
        </div>
    </div>
</div>

    <div class="col-lg-4">
      <a class="twitter-timeline" href="https://twitter.com/FDAfood" data-widget-id="613006443734806529">Tweets by @FDAfood</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
<!-- end food pathogen section -->
