<hr>
<div class="row mbm">
    <div class="col-md-6">
		  <h2 id="numHeading" class="man">Number of result found <%-maxCount%></h2>    
    </div>
    <div class="col-md-3">
    <nav>
      <ul class="pager">
        <li><a href="javascript:void(0)" id="prev">Previous</a></li>
        <li><a href="javascript:void(0)" id="next">Next</a></li>
      </ul>
    </nav>
    </div>
</div>
<div class="row mbm">
  <div class="col-md-9">
    
        <div id="list">
            <%for (var i=0; i < data.length; i++) { %>
              <div class="result-list result-danger-list">
                  <div class="icon-span">
                      <i class="fa fa-info"></i><span class="sr-only">Class I</span>
                  </div>
               
                  <div class="text-span">
                      
                      <a href="#details" id='rn_<%-data[i].recallNumber%>' data-id="<%-data[i].recallNumber%>"><%- data[i].productDescription%></a>
                      
                    </div>
                </div>
               
            <%}%>
        </div>
  </div>
  <div class="col-md-3">
       <p>Insert chart here</p>
           </div>
  </div>
</div>

