<hr>
<div id="results" class="row mbm"  tabindex="-1">
    <div class="col-md-6  col-xs-6">
		  <h3 id="numHeading" class="man">Results</h3>
      <p>The results displayed below are the latest food recalls reported to FDA as of May 30, 2015. Each recall record is color-coded according to the FDA Recall Classification tiers, which are used to define the level of hazard involved for consumers.  Click on an individual record to view more details.</p>
      <%if (maxCount > 0){%>
        <h4>Viewing <%-reqModel.attributes.skip + 1%> to  <%=(reqModel.attributes.skip + 5) >= maxCount ? maxCount : reqModel.attributes.skip + 5%> of  <%-maxCount%> results</h4>  
      <%}else{%> 
        <h4>Your search returned 0 results</h4>   
      <%}%>
    </div>
    <%if (data.length > 0 ){%>
    <div class="col-md-3 col-xs-6">
    <nav>
      <ul class="pager">
        <li><a href="javascript:void(0)" id="prev" style=<%=(reqModel.attributes.skip === 0)? "display:none": "display:''"%> >Previous</a></li>
        <li><a href="javascript:void(0)" id="next" style=<%=(reqModel.attributes.skip + 5 >= maxCount)? "display:none": "display:''"%>>Next</a></li>
      </ul>
    </nav>
    </div>
    <%}%>
</div>
<%if (maxCount > 0){%>
<div class="row mbm">
  <div class="col-md-9">
    <%if (data.length > 0 ){%>
        <div id="list">
            <%for (var i=0; i < data.length; i++) { %>
              <div class="result-list <%-(data[i].classification).toLowerCase().replace(' ', '-') %>">
                  <div class="icon-span">
                      <i class="fa fa-info"></i><span class="sr-only"><%-data[i].classification %></span>
                  </div>               
                  <div class="text-span">                      
                      <a href="javascript:void(0);" class="alert-link" id='rn_<%-data[i].recallNumber%>' data-id="<%-data[i].recallNumber%>"><%- data[i].productDescription%></a>                      
                  </div>
                </div>               
            <%}%>
        </div>
      <%}%>
  </div>
  <div class="col-md-3">
       <h3>Results By Recall Classification</h3>
       <div id='chart'></div>
        <div>
        <h3>FDA Food Recall Classifications (classification – OpenFDA data field name) link for see <a href="http://www.fda.gov/ForConsumers/ConsumerUpdates/ucm049070.htm" target="_blank">FDA 101: Recall Classifications</a></h3> 
        <p>Class I: Dangerous or defective food products that predictably could cause serious health problems or death.</p>
        <p>Class II: Food Products that might cause a temporary health problem, or pose only a slight threat of a serious nature.</p>
        <p>Class III: Food products that are unlikely to cause any adverse health reaction, but that violate FDA labeling or manufacturing laws.</p>
        </div>
  </div>
</div>
<%}%>

