$icon-font-path: "../fonts/";
@import 'app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import 'vendor/fontawesome/scss/font-awesome.scss';
@import 'variables.scss';
// global scss
.hidden {
    display: none!important;
    visibility: hidden!important;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

//adding padding becasue of the static header
body {
    padding-top: 130px;
}

.navbar-inverse {
    border-radius: 0;
    .navbar-brand {
        color: #fff;
        font-size: 3.6rem;
    }
}

footer {
    .navbar-inverse {
        margin-bottom: 0;
        margin-top: 20px;
    }
    p {
        color: #fff;
    }
}

//advance search section
.top_arrow_box {
    position: relative;
    padding: 20px;
    border: 2px solid $brand-primary;
    border-radius: 5px;
}

.top_arrow_box:after,
.top_arrow_box:before {
    bottom: 100%;
    left: 40%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.top_arrow_box:after {
    border-bottom-color: white;
    border-width: 20px;
    margin-left: -20px;
}

.top_arrow_box:before {
    border-bottom-color: $brand-primary;
    border-width: 23px;
    margin-left: -23px;
}

//results list
.result-list {
    display: table;
    border-radius: $alert-border-radius;
    margin-bottom: $line-height-computed;
    width: 100%;
    .icon-span {
        padding: $alert-padding;
        display: table-cell;
        border-right-width: 1px;
        border-right-style: solid;
        font-size: 22px;
        width: 30px;
        text-align: center;
        vertical-align: middle;
        color: #333;
    }
    .text-span {
        padding: $alert-padding;
        display: table-cell;
    }
}

.class-i {
    border-color: $alert-danger-border;
    .alert-link {
        color: darken($alert-danger-text, 25%);
    }
    .icon-span {
        background-color: $alert-danger-bg;
        border-right-color: darken($alert-danger-border, 5%);
    }
    .text-span {
        background-color: $alert-danger-bg-lite;
        color: $alert-danger-text;
    }
}

.class-ii {
    border-color: $alert-caution-border;
    color: $alert-caution-text;
    .alert-link {
        color: $alert-caution-text;
    }
    .icon-span {
        background-color: darken($alert-caution-bg, 15%);
        border-right-color: darken($alert-caution-border, 15%);
    }
    .text-span {
        background-color: $alert-caution-bg-lite;
    }
}

.class-iii {
    border-color: $alert-warning-border;
    color: $alert-warning-text;
    .alert-link {
        color: $alert-warning-text;
    }
    .icon-span {
        background-color: darken($alert-warning-bg, 15%);
        border-right-color: darken($alert-warning-border, 5%);
    }
    .text-span {
        background-color: $alert-warning-bg;
    }
}

//food Pyramid
.panel-grain {
    @include panel-variant($grain-border, white, $grain, $grain-border);
}

.panel-vegetable {
    @include panel-variant($vegetable-border, white, $vegetable, $vegetable-border);
}

.panel-fruit {
    @include panel-variant($fruit-border, white, $fruit, $fruit-border);
}

.panel-oil {
    @include panel-variant($oil-border, white, $oil, $oil-border);
}

.panel-dairy {
    @include panel-variant($dairy-border, white, $dairy, $dairy-border);
}

.panel-meat {
    @include panel-variant($meat-border, white, $meat, $meat-border);
}

@import 'helper.scss';
@media (max-width: 570px) {
    .container {
        width: 450px;
    }
    header {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .nav > li > a {
        padding: 10px;
    }
    .pal {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
