$icon-font-path: "../fonts/";
@import 'app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

@import 'vendor/fontawesome/scss/font-awesome.scss';

@import 'variables.scss';

// global scss

.hidden {
    display: none!important;
    visibility: hidden!important;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

//adding padding becasue of the static header

body{
    padding-top: 130px;    
}

//advance search section
.top_arrow_box {
    position: relative;
    padding: 20px;
    border: 2px solid $brand-primary;
    border-radius: 5px;
}

.top_arrow_box:after,
.top_arrow_box:before {
    bottom: 100%;
    left: 40%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.top_arrow_box:after {
    border-bottom-color: white;
    border-width: 20px;
    margin-left: -20px;
}

.top_arrow_box:before {
    border-bottom-color: $brand-primary;
    border-width: 23px;
    margin-left: -23px;
}

//results list
.result-list {
    display: table;
    border-radius: $alert-border-radius;
    margin-bottom: $line-height-computed;
    width: 100%;
    .icon-span {
        padding: $alert-padding;
        display: table-cell;
        border-right-width: 1px;
        border-right-style: solid;
        font-size:22px;
        min-width: 30px;
        text-align: center;
        vertical-align: middle;
        color: #333;
    }
    .text-span {
        padding: $alert-padding;
        display: table-cell;
    }
}

.result-danger-list {
    border-color: $alert-danger-border;
    
    .alert-link {
        color: darken($alert-danger-text, 25%);
    }
    .icon-span {
        background-color: darken($alert-danger-border, 25%);
        border-right-color: darken($alert-danger-border, 35%);
        
    }
    .text-span {
        background-color: darken($alert-danger-bg, 5%);
        color: $alert-danger-text;
    }
}

.result-warning-list {
    border-color: $alert-warning-border;
    color: $alert-warning-text;
    .alert-link {
        color: darken($alert-warning-text, 10%);
    }
    .icon-span {
        background-color: darken($alert-warning-border, 15%);
        border-right-color: darken($alert-warning-border, 25%);
        
    }
    .text-span {
        background-color: $alert-warning-bg;
    }
}

.result-caution-list {
    border-color: $alert-caution-border;
    color: $alert-caution-text;
    .alert-link {
        color: darken($alert-caution-text, 20%);
    }
    .icon-span {
        background-color: darken($alert-caution-border, 5%);
        border-right-color: darken($alert-caution-border, 15%);
        color: $gray-darker;
    }
    .text-span {
        background-color: lighten($alert-caution-bg, 10%);
    }
}

//food Pyramid

.panel-grain {
    @include panel-variant($grain-border, white, $grain, $grain-border);
}

.panel-vegetable {
    @include panel-variant($vegetable-border, white, $vegetable, $vegetable-border);
}

.panel-fruit {
    @include panel-variant($fruit-border, white, $fruit, $fruit-border);
}

.panel-oil {
    @include panel-variant($oil-border, white, $oil, $oil-border);
}

.panel-dairy {
    @include panel-variant($dairy-border, white, $dairy, $dairy-border);
}

.panel-meat {
    @include panel-variant($meat-border, white, $meat, $meat-border);
}

@import 'helper.scss';