$font-size-base:          16px !default;

$alert-caution-bg: #F89C2D;
$alert-caution-bg-lite: #Fab867;
$alert-caution-border: #F89C2D;
$alert-caution-text: #000;

$alert-warning-bg:            #F5D60A;
$alert-warning-bg-lite:       #fab867;
$alert-warning-text:          #000;
$alert-warning-border:        #F5D60A;

$alert-danger-bg:             #EF3644;
$alert-danger-bg-lite:        #d595a0;
$alert-danger-text:           #000;
$alert-danger-border:         #EF3644;

// food color variables
$grain: #ab5410;
$grain-border: $grain;
$vegetable: #00843d;
$vegetable-border: $vegetable;
$fruit: #a91317;
$fruit-border: $fruit;
$oil: #cccc00;
$oil-border: darken($oil, 15%);
$dairy: #3370a7; 
$dairy-border: $dairy;
$meat: #46316e;
$meat-border: $meat;