$font-size-base:          16px !default;

$alert-caution-bg: #F89C2D;
$alert-caution-border: #F89C2D;
$alert-caution-text: #333;

$alert-warning-bg:            #F5D60A;
$alert-warning-text:          #333;
$alert-warning-border:        #F5D60A;

$alert-danger-bg:             #EF3644;
$alert-danger-bg-lite:        #d595a0;
$alert-danger-text:           #333;
$alert-danger-border:         #EF3644;

// food color variables
$grain: #ff9900;
$grain-border: darken($grain, 15%);
$vegetable: #339966;
$vegetable-border: darken($vegetable, 15%);
$fruit: #e00000;
$fruit-border: darken($fruit, 15%);
$oil: #cccc00;
$oil-border: darken($oil, 15%);
$dairy: #3299FF; //milk, yogurt, cheese
$dairy-border: darken($dairy, 15%);
$meat: #663096;
$meat-border: darken($meat, 15%);